
h4,.movie-title {
  text-align: center;
}

  .nav{
    background-color: pink !important;
  }
/* add top padding to search */
    .mb-4{
      padding-top: 10px;

    }
/* change color of all movies on nav */
    .allMovies{
      color:white !important;
      display: flex;
      align-items: end !important;
    
    }
iframe {
  margin: auto;
  display: block;
}





*{
  text-decoration:none !important;
}




body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
  }

  h1 {
    font-weight: 800 !important;
  
  }

