
h4,.movie-title {
  text-align: center;
}

  .light{
    background-color: pink !important ;
  }
/* logic to make dark mode theme work see naviagtion.js for details */
  .dark{
    background-color: orange !important;
  }
  .toggle{
    color:white;
  }
/* add top padding to search */
    .mb-4{
      padding-top: 10px;

    }
/* change color of all movies on nav */
    .allMovies{
      color:white !important;
      display: flex;
      align-items: end !important;
    
    }
/* making sure all words on nav are white only background changes color */
        .title{
          color:white !important;
        }
    /* add card border */
                .addBorder{
      border: 2px solid #C8A2C8 !important;
    }
    /* change appenreance of movie titles  */
.link{
          color: pink !important;
        }
iframe {
  margin: auto !important;
  display: block !important; 
}


*{
  text-decoration:none !important;
}




body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
  }

  h1 {
    font-weight: 800 !important;
  
  }

